@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
html {
  height: auto;
}
body {
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Russo One", sans-serif; */
  width: 100%;
  padding: 10px;
  height: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #000;
}

h1,h3,h2,h4,h5,a{
  font-family: "Roboto Mono", monospace !important;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

.navbar {
  background: transparent;
}

.navbar-nav {
  margin: auto !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
  margin-right: 20px !important;
  transition: 0.3s all ease-in-out;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  background: #fff;
  color: #2a5298;
  border-radius:5px;
}

.navbar-toggler {
  background-color: #2a5298 !important;
  border: none !important;
  outline: none !important;
  padding: 0px 5px !important;
}

.main-container {
  width: 100%;
  margin: auto;
  height: 60vh;
  padding: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* grid-gap: 1rem; */
}

.main-container .portfolio-content {
  /* background: #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  grid-gap: 1rem;
  /* background: #2a5298 ; */
}

.main-container .portfolio-content h1 {
  font-size: 8vh !important;
  color: #2a5298;
  font-weight: bold;
}

@keyframes waving-motion {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(18.0deg) }  
  20% { transform: rotate(-6.0deg) }
  30% { transform: rotate(15.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(12.0deg) }
  60% { transform: rotate( 0.0deg) }  
100% { transform: rotate( 0.0deg) }
}

.hello-wave{

  animation-name: waving-motion ;
  animation-duration:2.5s ;
  animation-iteration-count: infinite;
  transform-origin: 75% 75%;
  display: inline-block;

}

.main-container .portfolio-content h3 {
  font-size: 5vh !important;
  color: #fff !important;
}

.main-container .portfolio-image img {
  width: 80%;
  height: 80%;
}

.main-projects {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.project-image {
  width: 200px;
  height: 200px;
}

 h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  /* line-height: 1.2; */
  color: #2a5298;
  font-weight: bold;
  position: relative;
}

.circle1 {
  position: absolute;
  width: 50vh;
  height: 50vh;
  left: -110px;
  top: -150px;
  background: #2a5298;
  opacity: 0.5;
  border-radius: 50%;
  /* z-index: -1; */
}

.circle2 {
  position: absolute;
  width: 100vh;
  height: 100vh;
  right: -200px;
  top: -530px;
  background: #2a5298;
  opacity: 0.5;
  border-radius: 50%;
  /* z-index: -1; */
  overflow: none;
}

p{
  font-family: "Roboto Mono", monospace;
}

.main-projects h1::after {
  position: absolute;
  width: 25%;
  height: 3px;
  top: 110%;
  left: 30%;
  content: "";
  background: #2a5298;
  border: 2px solid #2a5298;
}

.main-projects h1::before {
  position: absolute;
  width: 20vh;
  height: 20vh;
  top: -50px;
  left: -115px;
  content: "";
  background: #2a5298;
  opacity: 0.1;
  border-radius: 50%;
}

.projectcard .project-content {
  padding: 1rem;
}

.projectcard:nth-child(even) .project-image {
  order: 2;
}




.projectcard {
  width: 100%;
  padding: 10px;
  height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin:10px 0;
  background:#C4B6B6;
  /* background:#3D72A4;
  background:#CC99CC;
  background: #b2d4dd;
  background:#8B9A46; */
  



}

.projectcard h3 {
  color:rgb(75, 70, 70) ;
  font-weight:700px !important;

  margin-bottom: 1rem;
}

.projectcard p {
  color: #fff;
  margin-bottom: 8px !important;
}

.btn-git {
  border-radius: 7px;
  background: #fff;
  color: #000;
  margin: 10px;
  margin-left: -3px;
  width: 120px;
  height: 50px;
  border: none;
  transition: 0.3s all ease;
}

a .btn-git:active {
  outline: none;
  border: none;
}

@media only screen and(min-width:420px) and(max-width:650px) {
  .main-container {
    height: 30vh;
  }
  .projectcard {
    width: 400px;
  }
}

@media only screen and (max-width: 1200px) {
  .text {
    font-size: 8px;
  }

  .profile .card {
    height: 300px !important;
  }

  .projectcard {
/*     
  background:#B55400;
  background:#39311D;
  background:#541212; */

    
    display: block;
    height: 450px;

  }

  .projectcard .project-content {
    height: 400px;
  }

  .projects-container {
    max-width: 970px;
    height: 110vh;

    margin: 0;
  }

  .circle1 {
    width: 40vh;
    height: 40vh;
    display: none;
  }

  .circle2 {
    width: 20vh;
    height: 20vh;
    display: none;
  }

  .main-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5px;
  }

  .main-container .portfolio-content {
    padding: 0px;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.tech-stack {
  background: #fae398;
  border-radius: 5px;
  margin: 3px;
  color: #000;
  font-size: 13px;
  padding: 3px;
}

.contact-list {
  display: flex;
  list-style: none;
}

.contact-list > li {
  margin: 0 10px;
}

.icons {
  font-size: 20px;
  color: #fff;
  /* background:#B0DFE5; */
  cursor: pointer;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50%;
  /* box-sizing: border-box; */
}

.heart-icon {
  color: #b941ff;
  border-color:#b941ff;

}

.linkedin-icon:hover {
  color: #1F51FF;
  border-color:#1F51FF;
}
.mail-icon:hover {
  color: #FF3131;
  border-color:#FF3131;

}
.github-icon:hover {
  color: #008443;
  border-color: #008443;
}
.instagram-icon:hover {
  color: #B026FF ;
  border-color: #B026FF;
}

.send-icon:hover ,.download-icons:hover{
  color: #51ff0d;
  border-color: #51ff0d;
}

/* .download-icons:hover {
  color: #51ff0d;
  borde
} */

.title{
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: none;
  font-family: 'Sacramento' ,cursive !important;
  color:#fff !important;
}

.linkedin-icon:focus {
  color: #1F51FF;
  border-color:#1F51FF;
}
.mail-icon:focus {
  color: #FF3131;
  border-color:#FF3131;

}
.github-icon:focus {
  color: #008443;
  border-color: #008443;
}
.instagram-icon:focus {
  color: #B026FF ;
  border-color: #B026FF;
}

.send-icon:focus {
  color: #51ff0d;
  border-color: #51ff0d;
}

.download-icons:focus {
  color: #51ff0d;
}


input {
  border: none;
  margin: 0 10px;
  outline: none;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  font-size: 1.1rem;
}

input[type="text"]:focus {
  caret-color: #0077b5;
  color: #0077b5;
}



.header {
  color: #9fa4c4;
}

@media only screen and (max-width: 992px) {
  /* body{

    height:230vh;
  } */
  .projects-container {
    width: 100%;
    height: 180vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 0;
  }
  .project-card {
    height: 700px;
    display: block;
    /* justify-content: center;
    align-items: center; */
    background: #FFF; 
  }

  .circlemain {
    width: 20vh;
    height: 20vh;
    top: -50px;
    left: -50px;
  }

  .main-container {
    width: 90%;
    /* margin: 5px; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 55vh;
    /* grid-row-gap: 2rem; */
  }

  .navbar-nav .nav-link {
    padding: 10px;
  }

  .main-container .portfolio-content {
    align-items: center;
    padding: 0px;
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  .main-container .portfolio-image {
    margin-bottom: 10px;
  }

  .main-container .portfolio-content h1 {
    font-size: 30px !important;
  }

  .main-container .portfolio-content h3 {
    font-size: 20px !important;
  }
  .projectcard .project-content {
    height: 200px;
  }

  .portfolio-content {
    margin: 60px 0;
  }
}

@media only screen and (max-width: 768px) {
  .maindiv {
    height: 50vh;
  }
}

@media only screen and (min-width: 1200px) {
  .circle1 {
    width: 40vh;
    height: 40vh;
  }

  .circle2 {
    width: 70vh;
    height: 70vh;
    /* display: none; */
  }
}
